{{ define "title" }}{{ .Site.Title }}{{ end }}

{{ define "main" }}
<div class="home-content">
    {{ with .Content }}
    <div class="home-intro">
        {{ . }}
    </div>
    {{ end }}

    <div class="recent-posts">
        <h2>Recent Posts</h2>
        {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
        {{ range first 5 $pages }}
        <article>
            <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
            <div class="meta">
                <time class="published-at" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                    Published: {{ .Date.Format "January 2, 2006 at 15:04" }}
                </time>
                {{ if ne .Lastmod .Date }}
                <time class="modified-at" datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">
                    Last modified: {{ .Lastmod.Format "January 2, 2006 at 15:04" }}
                </time>
                {{ end }}
            </div>
            {{ with .Description }}
            <p>{{ . }}</p>
            {{ else }}
            <p>{{ .Summary }}</p>
            {{ end }}
            {{ if .Truncated }}
            <p><a href="{{ .Permalink }}">Read more →</a></p>
            {{ end }}
        </article>
        {{ end }}
        
        <p class="all-posts-link">
            <a href="/posts/">View all posts →</a>
        </p>
    </div>
</div>
{{ end }}