{{ $firstAuthor := index (.Params.authors | default (slice .Site.Params.author)) 0 -}}
{{ $authorData := index .Site.Data.authors $firstAuthor -}}
<footer>
    <nav aria-label="Author related links">
        <ul class="social-links">
            {{- $feedUrl := "" -}}
            {{- if eq .Kind "term" -}}
              {{- if eq .Type "tags" -}}
                {{- $feedUrl = printf "%sfeed.xml" .Permalink -}}
              {{- else -}}
                {{- $homePage := $.Site.GetPage "/" -}}
                {{- with $homePage.OutputFormats.Get "RSS" -}}
                  {{- $feedUrl = .Permalink -}}
                {{- end -}}
              {{- end -}}
            {{- else if eq .Kind "section" -}}
              {{- with .OutputFormats.Get "RSS" -}}
                {{- $feedUrl = .Permalink -}}
              {{- end -}}
            {{- else -}}
              {{- $homePage := $.Site.GetPage "/" -}}
              {{- with $homePage.OutputFormats.Get "RSS" -}}
                {{- $feedUrl = .Permalink -}}
              {{- end -}}
            {{- end -}}
            {{ if $feedUrl }}
            <li><a href="{{ $feedUrl }}" class="social-link feed" title="Feed" rel="me"></a></li>
            {{ end }}
            {{ if .Site.Params.mastodon }}
            <li><a href="{{ .Site.Params.mastodon }}" class="social-link mastodon" title="Mastodon" rel="me"></a></li>
            {{ end }}
            {{ if .Site.Params.github }}
            <li><a href="{{ .Site.Params.github }}" class="social-link github" title="GitHub" rel="me"></a></li>
            {{ end }}
            {{ if isset $authorData.social "email" }}
            <li><a href="mailto:{{ $authorData.social.email }}{{ if .IsPage }}?subject={{ .Title }}{{ end }}" class="social-link email" title="Email"></a></li>
            {{ end }}
        </ul>
    </nav>
    {{ if .Site.Params.footerLogo }}
    <img src="{{ .Site.Params.footerLogo }}" loading="lazy" alt="{{ .Site.Params.footerLogoAlt | default "Site logo" }}">
    {{ end }}
</footer>
