<meta charset="UTF-8">
<title>{{ partial "title-with-subtitle.html" . }}{{ if not .IsHome }} | {{ .Site.Title }}{{ end }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="color-scheme" content="dark light">

<!-- Standard SEO metadata -->
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary | plainify }}{{ else }}{{ .Site.Params.description }}{{ end }}{{ end }}">
<meta name="author" content="{{ if .Params.author }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}">
<link rel="canonical" href="{{ .Permalink }}">

<!-- Open Graph (Facebook, LinkedIn) -->
<meta property="og:title" content="{{ partial "title-with-subtitle.html" . }}">
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary | plainify }}{{ else }}{{ .Site.Params.description }}{{ end }}{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:locale" content="{{ .Site.Language.Lang }}">
{{ if .IsPage }}
<meta property="og:type" content="article">
<meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
<meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
{{ with .Params.tags }}{{ range first 6 . }}
<meta property="article:tag" content="{{ . }}">{{ end }}{{ end }}
{{ else }}
<meta property="og:type" content="website">
{{ end }}

{{ $slug := "" }}
{{ if .File }}
    {{ $slug = .File.ContentBaseName }}
{{ else if .Params.slug }}
    {{ $slug = .Params.slug }}
{{ else if .Slug }}
    {{ $slug = .Slug }}
{{ else }}
    {{ $slug = path.Base .RelPermalink | strings.TrimSuffix ".html" }}
{{ end }}
{{ $defaultBannerPath := printf "/img/banners/%s.png" $slug }}
{{ $ogImage := $defaultBannerPath }}

{{ with .Params.image }}
    {{ if reflect.IsMap . }}
        {{ with .path }}{{ $ogImage = . }}{{ end }}
    {{ else }}
        {{ $ogImage = . }}
    {{ end }}
{{ end }}

{{ if and (not $ogImage) .Site.Params.defaultImage }}
    {{ $ogImage = .Site.Params.defaultImage }}
{{ end }}

{{ with $ogImage }}
    <meta property="og:image" content="{{ . | absURL }}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
{{ end }}
{{- $author := .Params.author | default .Site.Params.author -}}
{{- $authorData := index .Site.Data.authors $author -}}
{{ with $authorData.social.mastodon -}}
    <meta name="fediverse:creator" content="{{ . }}">
{{ end -}}

<!-- Twitter Card -->
<meta name="twitter:card" content="{{ if $ogImage }}summary_large_image{{ else }}summary{{ end }}">
<meta name="twitter:title" content="{{ partial "title-with-subtitle.html" . }}">
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary | plainify }}{{ else }}{{ .Site.Params.description }}{{ end }}{{ end }}">
{{ with $ogImage }}
<meta name="twitter:image" content="{{ . | absURL }}">
{{ end }}
{{ with .Site.Params.twitter }}
<meta name="twitter:site" content="@{{ . }}">
{{ end }}
{{ with .Site.Params.twitterAuthor }}
<meta name="twitter:creator" content="@{{ . }}">
{{ end }}
{{ with $authorData.displayName -}}
    <meta name="twitter:label1" content="Author">
    <meta name="twitter:data1" content="{{ . }}">
{{ end }}
{{ with .ReadingTime -}}
    <meta name="twitter:label2" content="Reading time">
    <meta name="twitter:data2" content="{{ . }} min">
{{ end -}}

<!-- Stylesheets -->
{{ $critical := resources.Get "css/critical.css" | minify -}}
<style>{{ $critical.Content | safeCSS }}</style>

{{ $mainCSS := resources.Get "css/main.css" | minify | fingerprint -}}
<link rel="preload" href="{{ $mainCSS.RelPermalink }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ $mainCSS.RelPermalink }}"></noscript>

{{ if .Site.Params.enableCodeHighlighting }}
{{ $highlight := resources.Get "css/zenburn.css" | resources.Minify | resources.Fingerprint }}
<link rel="preload" href="{{ $highlight.RelPermalink }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ $highlight.RelPermalink }}"></noscript>
{{ end }}

<!-- RSS -->
<link rel="alternate" type="application/rss+xml" href="{{ .Site.Params.feed }}" title="{{ .Site.Title }}">
{{- if and (eq .Kind "term") (eq .Type "tags") -}}
{{- $tagFeed := printf "%sfeed.xml" .RelPermalink }}
<link rel="alternate" type="application/rss+xml" href="{{ $tagFeed }}" title="{{ .Site.Title }} — Tag {{ .Title }} Feed">
{{- end -}}

<!-- Favicon -->
{{ with .Site.Params.favicon }}
<link rel="icon" href="{{ . }}">
{{ end }}

<!-- Structured Data -->
{{ partial "schema.html" . }}
