{{ partial "head/meta-basic.html" . }}

{{ $ogImage := partial "head/banner-image.html" . }}
{{ partial "head/meta-social.html" . }}

<!-- Stylesheets -->
{{ $critical := resources.Get "css/critical.css" | minify -}}
<style>{{ $critical.Content | safeCSS }}</style>

{{ partial "head/css.html" . }}

{{ if .Site.Params.enableCodeHighlighting }}
{{ $highlight := resources.Get "css/zenburn.css" | resources.Minify | resources.Fingerprint }}
<link rel="preload" href="{{ $highlight.RelPermalink }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ $highlight.RelPermalink }}"></noscript>
{{ end }}

{{ partial "head/feeds.html" . }}

<!-- Favicon -->
{{ with .Site.Params.favicon }}
<link rel="icon" href="{{ . }}">
{{ end }}

<!-- Structured Data -->
{{ partial "schema.html" . }}
