<div class="article-list">
    {{ $lastDate := "" -}}
    {{ $openDay := false -}}
    {{ range .Paginator.Pages }}
        {{ $currentDate := .Date.Format "2006-01-02" -}}
        {{ if ne $currentDate $lastDate -}}
            {{ with $openDay }}</section>{{ end -}}
            <section class="day">
                {{/* Check if daily taxonomy page exists for this date */}}
                {{ $dailyPageExists := false -}}
                {{ if site.Taxonomies.daily -}}
                    {{ $dailyTerm := index site.Taxonomies.daily $currentDate -}}
                    {{ if $dailyTerm -}}
                        {{ $dailyPageExists = true -}}
                    {{ end -}}
                {{ end -}}
                
                {{ if $dailyPageExists -}}
                    <h1 class="day__date">
                        <a href="{{ printf "/daily/%s/" $currentDate | relURL }}" class="daily-link">{{ .Date.Format "02 January, 2006" }}</a>
                    </h1>
                {{ else -}}
                    <h1 class="day__date">{{ .Date.Format "02 January, 2006" }}</h1>
                {{ end -}}
            {{ $openDay = true -}}
            {{ $lastDate = $currentDate -}}
        {{ end -}}

        {{ partial "summary.html" . }}
    {{ end }}

    {{ range first 3 .Paginator.Pages }}
        <link rel="prefetch" href="{{ .Permalink }}">
    {{ end }}
</div>

{{ template "_internal/pagination.html" . }}
