<article>
    <a href="{{ .Permalink }}">
        <hgroup>
        <h1 class="title">{{ .Title }}</h1>
        <p class="subtitle">{{ .Params.subtitle }}</p>
        </hgroup>
    </a>
    {{ partial "post-meta.html" (dict "Page" . "hideAuthor" true) }}
    <div class="{{ if .Truncated }}post-preview{{ else }}post{{ end }}">{{ .Summary }}

    {{ if .Truncated }}
        <a href="{{ .Permalink }}"
           class="continue-reading"
           aria-label="Continue reading {{ .Title }}">[… more]</a>
    {{ end }}
    </div>
</article>
