<div class="meta">
    Posted by <span class="author">{{ if .Params.author }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}</span> 
    on <time class="published-at" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
        {{ .Date.Format "2 January, 2006 at 15:04" }}
    </time>
    {{ if not (.Lastmod.Equal .Date) }}
    <span class="updated-separator">•</span> Updated <time class="modified-at" datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">
        {{ .Lastmod.Format "2 January, 2006 at 15:04" }}
    </time>
    {{ end }}
</div>
