{{- if .Params.series -}}
    {{- range .Params.series -}}
        {{- $seriesName := . -}}
        {{- $seriesPages := where $.Site.RegularPages "Params.series" "intersect" (slice .) -}}
        {{- $seriesPages = $seriesPages.ByDate -}}
        {{- $currentIndex := 0 -}}
        {{- $totalPosts := len $seriesPages -}}

        {{- range $index, $page := $seriesPages -}}
            {{- if eq $page.RelPermalink $.RelPermalink -}}
                {{- $currentIndex = add $index 1 -}}
            {{- end -}}
        {{- end -}}

        {{- if gt $totalPosts 1 -}}
            {{- $prevPost := index $seriesPages (sub $currentIndex 2) -}}
            {{- $nextPost := index $seriesPages $currentIndex -}}
            {{- $seriesPage := printf "/series/%s" $seriesName | $.Site.GetPage -}}
            {{- $seriesTitle := $seriesName -}}
            {{- if $seriesPage -}}
                {{- $seriesTitle = $seriesPage.Title -}}
            {{- end -}}

            {{- $label := printf "Part %d of %d in" $currentIndex $totalPosts -}}
            {{- if $seriesPage -}}
                {{- $label = printf "%s <a href=\"%s\" class=\"series-title\">%s</a>" $label $seriesPage.RelPermalink $seriesTitle -}}
            {{- else -}}
                {{- $label = printf "%s <span class=\"series-title\">%s</span>" $label $seriesTitle -}}
            {{- end -}}

            {{- partial "content-nav.html" (dict
                "label" $label
                "prevPost" $prevPost
                "nextPost" $nextPost
                "modifier" "series"
                "showDirection" true
            ) -}}
        {{- end -}}
    {{- end -}}
{{- end -}}
