{{ define "title" }}{{ .Data.Term | time.Format "January 2, 2006" }} - {{ .Site.Title }}{{ end }}

{{ define "main" }}
{{ $postCount := len .Pages }}
{{ $context := dict 
    "Page" .
    "Title" (.Data.Term | time.Format "January 2, 2006")
    "Description" "All I got up to this day (as far as you know)"
    "Stats" (printf "%d %s on this day" $postCount (cond (eq $postCount 1) "post" "posts"))
    "TaxonomyName" "daily"
    "AllLinkText" "All days"
    "AllLinkURL" "/daily/"
}}

{{ partial "taxonomy-term-listing.html" $context }}
{{ end }}
