<article class="{{ .Section }}">
    <div class="{{ if and (not .Params.full) .Truncated }}preview{{ end }} post">
        {{ if .Params.full }}
            {{ .Content }}
        {{ else }}
            {{ .Summary }}

            {{ if .Truncated }}
                <a href="{{ .Permalink }}"
                   class="continue-reading"
                   aria-label="Continue reading {{ .Title }}">[… more]</a>
            {{ end }}
        {{ end }}
    </div>

    {{ partial "summary__meta.html" . }}
</article>
