{{ define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end }}

{{ define "main" }}
<article class="post single">
    <header>
        <hgroup>
            <h1 class="title">{{ .Title }}</h1>
            {{ with .Params.subtitle }}<p class="subtitle">{{ . }}</p>{{ end }}
        </hgroup>

        {{ partial "post-meta--with-author.html" . }}
    </header>

    <div class="content">
        {{ .Content }}
    </div>

    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
</article>
{{ end }}