<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang | default "en" }}">
<head>
    {{ block "head" . }}
        {{ partial "head.html" . }}
    {{ end }}
    <script defer data-domain="sanitarium.se" src="https://plausible.io/js/script.hash.js"></script>
    <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
</head>
<body>
<header class="masthead">
    <a href="{{ .Site.BaseURL }}">{{ .Site.Params.siteName | default .Site.Title }}</a>
</header>

<main>
    {{ block "main" . }}{{ end }}
</main>

{{ block "footer" . }}
{{ partial "footer.html" . }}
{{ end }}
{{ if .Store.Get "hasMermaid" }}
    <script type="module">
        import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
        mermaid.initialize({ startOnLoad: true });
    </script>
{{ end }}
</body>
</html>
