<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang | default "en" }}">
<head>
    <link rel="preconnect" href="https://plausible.io">
    <link rel="dns-prefetch" href="https://plausible.io">
    {{ block "head" . }}
        {{ partial "head.html" . }}
    {{ end }}
    <script defer data-domain="bjorn.now" src="https://plausible.io/js/script.hash.js"></script>
    <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
</head>
<body>
{{ partial "header.html" . }}

{{ if .Site.Menus.main }}
<!-- Menu Overlay (Mobile) -->
<div class="menu-overlay"></div>
{{ end }}

<main>
    {{ if .Site.Menus.main }}
    <aside class="sidebar-menu">
        {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
    </aside>
    {{ end }}
    {{ block "main" . }}{{ end }}
</main>

{{ block "footer" . }}
{{ partial "footer.html" . }}
{{ end }}
{{ if .Store.Get "hasMermaid" }}
    <script type="module">
        import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
        mermaid.initialize({ startOnLoad: true });
    </script>
{{ end }}

{{ $js := resources.Get "js/main.js" | minify | fingerprint }}
<script src="{{ $js.RelPermalink }}" defer></script>
</body>
</html>
