{{ define "title" }}{{ if eq .Kind "term" }}{{ .Data.Term }} - {{ end }}{{ .Title }} - {{ .Site.Title }}{{ end }}

{{ define "main" }}
<header>
    <h1>{{ if eq .Kind "term" }}{{ .Data.Term }}{{ else }}{{ .Title }}{{ end }}</h1>
    {{ with .Description }}
    <div class="description">{{ . }}</div>
    {{ end }}
</header>

<div class="article-list">
    {{ range .Paginator.Pages }}
    {{ partial "article-summary.html" . }}
    {{ end }}
</div>

{{ template "_internal/pagination.html" . }}
{{ end }}
