{{ define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end }}

{{ define "main" }}
<article class="post single">
    {{/* When changing this layout remember to change page.banner.html too */}}
    <header>
        <hgroup {{ if .Params.language }} lang="{{ .Params.language }}"{{ end }}>
            <h1 class="title">{{ .Title }}</h1>
            {{ with .Params.subtitle }}<p class="subheading">{{ . }}</p>{{ end }}
        </hgroup>

        {{ partial "post-meta.html" . }}
    </header>

    <div class="content" {{ if .Params.language }} lang="{{ .Params.language }}"{{ end }}>
        {{ .Content }}
    </div>

    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
</article>
{{ end }}
