{{ define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end }}

{{ define "main" }}
<article class="post single">
    {{/* When changing this layout remember to change page.banner.html too */}}
    <header>
        <hgroup {{ if .Params.language }} lang="{{ .Params.language }}"{{ end }}>
            <h1 class="title">{{ .Title }}</h1>
            {{ with .Params.subtitle }}<p class="subtitle">{{ . }}</p>{{ end }}
        </hgroup>

        {{ partial "post-meta.html" (dict "Page" . "isSummary" false) }}
    </header>

    <div class="content" {{ if .Params.language }} lang="{{ .Params.language }}"{{ end }}>
        {{ .Content }}
    </div>

    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}

    <nav class="post-nav">
        {{ with .PrevInSection }}
            <a href="{{ .RelPermalink }}" class="post-nav-link prev" title="{{ .Summary | plainify | truncate 150 }}">
                <div class="post-nav-title">{{ .Title }}</div>
                {{ with .Params.subtitle }}<div class="post-nav-subtitle">{{ . }}</div>{{ end }}
            </a>
        {{ end }}

        {{ with .NextInSection }}
            <a href="{{ .RelPermalink }}" class="post-nav-link next" title="{{ .Summary | plainify | truncate 150 }}">
                <div class="post-nav-content">
                    <div class="post-nav-title">{{ .Title }}</div>
                    {{ with .Params.subtitle }}<div class="post-nav-subtitle">{{ . }}</div>{{ end }}
                </div>
            </a>
        {{ end }}
    </nav>
</article>
{{ end }}
