{{ define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end }}

{{ define "main" }}
<article class="post {{ .Section }} single">
    {{/* When changing this layout remember to change single.banner.html too */}}
    {{ if not .Params.full }}
    <header>
        <hgroup {{ if .Params.language }} lang="{{ .Params.language }}"{{ end }}>
            <h1 class="title">{{ .Title }}</h1>
            {{ with .Params.subtitle }}<p class="subtitle">{{ . }}</p>{{ end }}
        </hgroup>

        {{ partial "post-meta--with-author.html" . }}
    </header>
    {{ else }}
    <header>
        {{ partial "post-meta--with-author.html" . }}
    </header>
    {{ end }}

    <div class="content" {{ if .Params.language }} lang="{{ .Params.language }}"{{ end }}>
        {{ .Content }}
    </div>

    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}

    {{ partial "series-nav.html" . }}

    <nav class="post-nav" aria-label="Previous and next posts">
        {{ with .PrevInSection }}
            <a href="{{ .RelPermalink }}" class="post-nav-link prev" title="{{ .Summary | plainify | truncate 150 }}">
                {{- if and .Title (not (strings.HasPrefix .Title .File.BaseFileName)) -}}
                    <div class="post-nav-title">{{ .Title }}</div>
                    {{ with .Params.subtitle }}<div class="post-nav-subtitle">{{ . }}</div>{{ end }}
                {{- else -}}
                    <div class="post-nav-title">{{ .Summary | plainify | truncate 40 }}</div>
                {{- end -}}
            </a>
            <link rel="prefetch" href="{{ .Permalink }}">
        {{ end }}

        {{ with .NextInSection }}
            <a href="{{ .RelPermalink }}" class="post-nav-link next" title="{{ .Summary | plainify | truncate 150 }}">
                <div class="post-nav-content">
                    {{- if and .Title (not (strings.HasPrefix .Title .File.BaseFileName)) -}}
                        <div class="post-nav-title">{{ .Title }}</div>
                        {{ with .Params.subtitle }}<div class="post-nav-subtitle">{{ . }}</div>{{ end }}
                    {{- else -}}
                        <div class="post-nav-title">{{ .Summary | plainify | truncate 40 }}</div>
                    {{- end -}}
                </div>
            </a>
            <link rel="prefetch" href="{{ .Permalink }}">
        {{ end }}
    </nav>

    {{ $currentPage := . -}}
    {{ $backlinks := slice -}}
    {{/* Find all pages that link to this one, this *could* become slow at some point in the future */}}
    {{ range site.RegularPages -}}
        {{ if ne .Permalink $currentPage -}}
            {{/* Only match links inside <a href> */}}
            {{ $pattern := printf `<a[^>]+href=["']%s` $currentPage.RelPermalink -}}
            {{ if findRE $pattern .Content -}}
                {{ $backlinks = $backlinks | append . -}}
            {{ end -}}
        {{ end -}}
    {{ end -}}
    {{ with $backlinks -}}
        {{ $backlinks = sort $backlinks "Date" "desc" -}}
        <nav class="backlinks meta" aria-label="Posts that mention this one">
            <dl>
                <dt>Mentioned in:</dt>
                {{ range $backlinks -}}
                <dd><a href="{{ .RelPermalink }}">
                    {{ if and .Title (not (strings.HasPrefix .Title .File.BaseFileName)) -}}
                        {{ partial "title-with-subtitle.html" . }}
                    {{ else -}}
                        {{ .Summary | plainify | truncate 40 }}
                    {{ end -}}
                    </a></dd>
                {{ end -}}
            </dl>
        </nav>
    {{ end }}
</article>
{{ end }}
