{{ define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end }}

{{ define "main" }}
<article class="post {{ .Section }} single">
    {{/* When changing this layout remember to change single.banner.html too */}}
    {{ if not .Params.full }}
    <header>
        <hgroup {{ if .Params.language }} lang="{{ .Params.language }}"{{ end }}>
            <h1 class="title">{{ .Title }}</h1>
            {{ with .Params.subtitle }}<p class="subtitle">{{ . }}</p>{{ end }}
        </hgroup>

        {{ partial "post-meta--with-author.html" . }}
    </header>
    {{ else }}
    <header>
        {{ partial "post-meta--with-author.html" . }}
    </header>
    {{ end }}

    <div class="content" {{ if .Params.language }} lang="{{ .Params.language }}"{{ end }}>
        {{ .Content }}
    </div>

    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}

    {{ partial "series-nav.html" . }}

    {{ $displayName := index .Site.Data.contents .Section | default (dict) -}}
    {{ partial "content-nav.html" (dict
        "label" (print "More " $displayName.plural | default (.Section | lower))
        "prevPost" .PrevInSection
        "nextPost" .NextInSection
        "modifier" "chronological"
        "showDirection" true
    ) }}

    {{ $currentPage := . -}}
    {{ $backlinks := slice -}}
    {{/* Find all pages that link to this one, this *could* become slow at some point in the future */}}
    {{ range site.RegularPages -}}
        {{ if ne .Permalink $currentPage -}}
            {{/* Only match links inside <a href> */}}
            {{ $pattern := printf `<a[^>]+href=["']%s` $currentPage.RelPermalink -}}
            {{ if findRE $pattern .Content -}}
                {{ $backlinks = $backlinks | append . -}}
            {{ end -}}
        {{ end -}}
    {{ end -}}
    {{ with $backlinks -}}
        {{ $backlinks = sort $backlinks "Date" "desc" -}}
        <nav class="backlinks meta" aria-label="Posts that mention this one">
            <dl>
                <dt>Mentioned in:</dt>
                {{ range $backlinks -}}
                <dd><a href="{{ .RelPermalink }}">
                    {{ if and .Title (not (strings.HasPrefix .Title .File.BaseFileName)) -}}
                        {{ partial "title-with-subtitle.html" . }}
                    {{ else -}}
                        {{ .Summary | plainify | truncate 40 }}
                    {{ end -}}
                    </a></dd>
                {{ end -}}
            </dl>
        </nav>
    {{ end }}
</article>
{{ end }}
