{{ $ogImage := "" }}

{{ with .Params.image }}
    {{ if reflect.IsMap . }}
        {{ with .path }}{{ $ogImage = . }}{{ end }}
    {{ else }}
        {{ $ogImage = . }}
    {{ end }}
{{ end }}

{{ if and (not $ogImage) (in .Site.Params.bannerSections .Section) }}
    {{ $slug := "" }}
    {{ if .File }}
        {{ $slug = .File.ContentBaseName }}
    {{ else if .Params.slug }}
        {{ $slug = .Params.slug }}
    {{ else if .Slug }}
        {{ $slug = .Slug }}
    {{ else }}
        {{ $slug = path.Base .RelPermalink | strings.TrimSuffix ".html" }}
    {{ end }}
    {{ $defaultBannerPath := printf "/img/banners/%s.png" $slug }}
    {{ with resources.Get $defaultBannerPath }}
        {{ $ogImage = .RelPermalink }}
    {{ end }}
{{ end }}

{{ if and (not $ogImage) .Site.Params.defaultImage }}
    {{ with resources.Get .Site.Params.defaultImage }}
        {{ $ogImage = .RelPermalink }}
    {{ end }}
{{ end }}

{{ return $ogImage }}
