<!-- RSS -->
{{- $homePage := $.Site.GetPage "/" -}}
{{- with $homePage.OutputFormats.Get "RSS" -}}
<link rel="alternate" type="application/rss+xml"
      href="{{ .Permalink }}"
      title="{{ $.Site.Title }} - All Feed">
{{ end }}

{{ range .Site.Params.mainSections -}}
    {{ $section := $.Site.GetPage . -}}
    {{ with $section.OutputFormats.Get "RSS" -}}
        <link rel="alternate" type="application/rss+xml"
              href="{{ .Permalink }}"
              title="{{ $.Site.Title }} - {{ $section.Section | title }} Feed">
    {{- end -}}
{{- end -}}

{{- if and (eq .Kind "term") (eq .Type "tags") -}}
{{- $tagFeed := printf "%sfeed.xml" .Permalink }}
<link rel="alternate" type="application/rss+xml" href="{{ $tagFeed }}" title="{{ .Site.Title }} — Tag {{ .Title }} Feed">
{{- end -}}
